<div class="login_container">
	<div class="login_content">
		<img class="format_center" src="images/logo.png"></img>
		
		<h2 class="login_text">Home</h2>

		<h4 class="login_text">
            You are in an admin page
		</h4>
	</div>
</div>