

<div class="login_container">
  <div class="signup_content">
    <img class="format_center_2" src="images/logo.png"></img>
    <h2 class="login_text">Sign-up</h2>
    <h4 class="login_text">
      <form action="/signup" method="POST" enctype="multipart/form-data" id="signupForm">
        <div class="flexbox_signup">
          <div class="signup_item">
            Email: 
            <input placeholder="Email" type="email" id="email" name="email" required/>
          </div>

          <div class="signup_item">
            Username: 
            <input placeholder="Username" type="text" id="username" name="username" required/>
          </div>
          
          <div class="signup_item">
            Full Name: 
            <input placeholder="Full Name" type="text" id="full_name" name="full_name" required/>
          </div>

          <div class="signup_item">
            Phone Number: 
            <input placeholder="\"+63XXXXXXXXXX\" or \"09XXXXXXXXX\"" type="tel" id="contact_number" name="contact_number" required/>
          </div>

          <div class="signup_item">
            Password: 
            <input placeholder="Password" type="password" id="password" name="password" required/>
          </div>

          <div class="signup_item">
            Confirm Password: 
            <input placeholder="Confirm Password" type="password" id="confirmPass" name="confirmPass" required/>
          </div>

          <div class="signup_item_2">
            Profile Image: 
            <input type="file" value="Attach Photo" class="post-upload-image" name="imageContent" accept="image/jpeg, image/png" onchange="validateFileType(this)"/> 
          </div>

        </div>

        <input type="submit" value="Sign-up"></input>
        <br>
        <h5><br><a href="/login">Already have an account? Log-in here</a></h5>
        
      </form>
    </h4>
    {{> status_msg}}
  </div>
</div>

{{!-- <script>
  function validateFileType(fileInput) {
    const file = fileInput.files[0];
    const fileReader = new FileReader();
	
	if (file) {
      fileReader.readAsArrayBuffer(file);
    }

    fileReader.onloadend = function() {
      const arrayBuffer = fileReader.result;
      const viewArray = new Uint8Array(arrayBuffer);

      // Check magic numbers for JPG and PNG
      const isJPG = viewArray[0] === 0xFF && viewArray[1] === 0xD8;
      const isPNG = viewArray[0] === 0x89 && viewArray[1] === 0x50 && viewArray[2] === 0x4E && viewArray[3] === 0x47;

      if (!isJPG && !isPNG) {
        alert(`The file you selected is not a JPG or PNG image.`);
        fileInput.value = ''; // Clear the file input
      }
    };
  }
</script> --}}

