

<div class="login_container">
  <div class="signup_content">
    <img class="format_center_2" src="images/logo.png"></img>
    <h2 class="login_text">Sign-up</h2>
    <h4 class="login_text">
      <form action="/signup" method="POST" enctype="application/x-www-form-urlencoded" id="signupForm">
        <div class="flexbox_signup">
          <div class="signup_item">
            Email: 
            <input placeholder="Email" type="email" id="email" name="email" required/>
          </div>

          <div class="signup_item">
            Username: 
            <input placeholder="Username" type="text" id="username" name="username" required/>
          </div>
          
          <div class="signup_item">
            Full Name: 
            <input placeholder="Full Name" type="text" id="full_name" name="full_name" required/>
          </div>

          <div class="signup_item">
            Phone Number: 
            <input placeholder="Contact Number" type="tel" id="contact_number" name="contact_number" required/>
          </div>

          <div class="signup_item">
            Password: 
            <input placeholder="Password" type="password" id="password" name="password" required/>
          </div>

          <div class="signup_item">
            Confirm Password: 
            <input placeholder="Confirm Password" type="password" id="confirmPass" name="confirmPass" required/>
          </div>

          <div class="signup_item_2">
            Profile Image: 
            <input type="file" value="Attach Photo" class="post-upload-image" accept="image/*" name="imageContent"/> 
          </div>

        </div>

        <input type="submit" value="Sign-up"></input>
        <br>
        <h5><br><a href="/login">Already have an account? Log-in here</a></h5>
        
      </form>
    </h4>
    {{> status_msg}}
  </div>
</div>

{{!-- <script>
  document.getElementById('signupForm').addEventListener('submit', function(event) {
    const phoneNumber = document.getElementById('contact_number').value;
    const phoneNumberRegex = /^\d{5}$/;

    if (!phoneNumberRegex.test(phoneNumber)) {
      alert('Phone number must be exactly 5 digits.');
      event.preventDefault();  // Prevent form submission
    }
  });
</script> --}}

{{!-- <script>
  document.getElementById('signupForm').addEventListener('submit', function(event) {
    const  emailPattern = /^[a-zA-Z\d]+([_.-][a-zA-Z\d]+)*@[a-zA-Z\d]+[a-zA-Z\d\-]*(?<!-)(\.(?!-)(?=.*[A-Za-z].*[A-Za-z])[a-zA-Z\d\-]{2,}(?<!-))+$/;
    const  phonePattern = /^\+63\d{10}$|^09\d{9}$/;
    
    const  email = document.getElementById('email').value;
    const  phoneNumber = document.getElementById('contact_number').value;

    if (!emailPattern.test(email)) {
      alert('Please enter a valid email address.');
      event.preventDefault();
      return;
    }

    if (!phonePattern.test(phoneNumber)) {
      alert('Phone number must either be +63 XXX XXX XXXX or 09XX XXX XXXX.');
      event.preventDefault();
      return;
    }

  });
</script> --}}
